package ${packageName};

import ${enumPackageName}.*;
import lombok.Getter;
import lombok.Setter;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import org.hibernate.annotations.*;
import org.hibernate.annotations.Parameter;
import org.springframework.data.jpa.domain.support.AuditingEntityListener;
import ${j2eePkgName}.persistence.*;
import java.util.*;
import java.time.*;
import ${importList};


/**
 * ${className}
 *
 * Modify this code only as specified in the ElastiCORE guidelines
 * to avoid regeneration conflicts.
 *
 * Generated and managed by ElastiCORE.
 */

${classAnnotationList}
@Getter
@Setter
@NoArgsConstructor

@EntityListeners(AuditingEntityListener.class)
public ${abstract} class ${className} ${extendInfo} ${implementInfo}  {

	${fieldList}
}