package ${packageName};

import lombok.Getter;
import ${importList};
${extraImportList}

/**
 * <pre>${description}</pre>
 * hash:${hashCode}
 */

${classAnnotationList}
@Getter
public enum ${className} {

    ${enumConstant}

    ${fieldLine}

    ${className}(${argLine}) {
        ${paramLine}
    }

    ${extraLine}
}