package ${packageName};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.query.Param;

import org.springframework.data.jpa.domain.Specification;

import java.util.*;
import java.util.stream.Collectors;
import java.util.function.BiFunction;
import ${entityPackageName}.*;
import ${dtoPackageName}.*;
import ${enumPackageName}.*;

import ${importList};

/**
 * <pre>${description}</pre>
 * hash:${hashCode}
 */

${classAnnotationList}
public class ${className} {

    ${methodList}

}