package ${packageName};

import java.util.*;
import ${entityPackageName}.*;
import ${dtoPackageName}.*;
import ${enumPackageName}.*;
import ${importList};
import io.elasticore.runtime.annotation.*;


/**
 * <pre>${description}</pre>
 * hash:${hashCode}
 */
${classAnnotationList}
public interface ${className}   {

    ${methodList}

}