package ${packageName};

import io.elasticore.base.util.ModelTransList;

import lombok.AllArgsConstructor;
import lombok.Getter;
import org.springframework.stereotype.Service;
import java.util.List;

import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageImpl;
import org.springframework.data.domain.Pageable;

import javax.persistence.EntityManager;
import javax.persistence.Query;



import ${entityPackageName}.*;
import ${dtoPackageName}.*;




@Getter
@Service
@AllArgsConstructor
public class ${className} {

    private final EntityManager entityManager;

    ${repositoryList}

    ${methodList}
}



